<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>

    <link href="./public/estilos/main.css" rel="stylesheet">
    <link href="./public/estilos/pageHome.css" rel="stylesheet">
    <link href="./public/estilos/createPoint.css" rel="stylesheet">
    <link href="./public/estilos/modal.css" rel="stylesheet">

    <link href="./public/estilos/responsive.css" rel="stylesheet">

    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./public/assets/favicon.svg" type="image/x-icon">
</head>

<body>

    <div id="page-create-point">
        <img src="./public/assets/logo.svg" alt="Logomarca"></a>
        <a href="/">
            <span></span>
            Voltar para a Home
        </a>
        <form action="./savepoint" method="POST">

            <h1>Cadastro ponto de coleta</h1>

            <fieldset>
                <legend>
                    <h2>Dados da entidade</h2>
                </legend>

                <div class="field-group">
                    <div class="field">
                        <label for="name">Nome da entidade</label>
                        <input type="text" name="name" required="required">
                    </div>
                    <div class="field">
                        <label for="name">Imagem da entidade</label>
                        <input type="url" name="image" required="required" placeholder="http://">
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="adress">Endereço</label>
                        <input type="text" name="adress" required="required">
                    </div>

                    <div class="field">
                        <label for="adress2">Numero/Complemento</label>
                        <input type="text" name="adress2" required="required">
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="state">Estado</label>
                        <select name="uf" required="required">
                            <option value="">Selecione o Estado</option>
                        </select>

                        <input type="hidden" name="state">
                    </div>

                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" disabled="disabled" required="required">
                            <option value="">Selecione a Cidade</option>
                        </select>
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <h2>Itens de coleta</h2>
                </legend>

                <div class="itens-grid">
                    <li data-id="Lâmpadas"><img src="./public/assets/lampadas.svg" alt="lampadas">
                        <span>Lâmpadas</span>
                    </li>

                    <li data-id="Pilhas e Baterias"><img src="./public/assets/baterias.svg" alt="pilhas e baterias">
                        <span>Pilhas e Baterias</span>
                    </li>

                    <li data-id="Papéis e Papelão"><img src="./public/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                        <span>Papéis e Papelão</span>
                    </li>

                    <li data-id="Resíduos Eletrônicos"><img src="./public/assets/eletronicos.svg" alt="Eletrônicos">
                        <span>Resíduos Eletrônicos</span>
                    </li>

                    <li data-id="Resíduos Orgãnicos"><img src="./public/assets/organicos.svg" alt="Resíduos Orgãnicos">
                        <span>Resíduos Orgãnicos</span>
                    </li>

                    <li data-id="Óleo de cozinha"><img src="./public/assets/oleo.svg" alt="Oleo de cozinha">
                        <span>Óleo de cozinha</span>
                    </li>
                </div>

                <input type="hidden" name="items">
            </fieldset>

            <button type="submit">Cadastrar ponto de coleta</button>

        </form>

    </div>

    {% block modal %}
    {% if saved %}
    <div id="modal" class="point">
        <div class="content">
            <img src="./public/assets/check.svg" alt="Cadastrado com sucesso">
            <h1>Cadastrado concluído</h1>
        </div>
    </div>

    <script>
        setTimeout(() => {
            window.location = '/'
        }, 2000)
    </script>
    {% endif %}
    {% endblock modal %}

    <script src="./public/scripts/createPoint.js"></script>

</body>

</html>